.container{
    border: 2px solid black;
    /* padding: 30px; */
}
.user{
    border: 3px solid rgb(102, 218, 239);
    border-radius: 15px;
    text-align: center;
    background-color: rgb(245, 242, 231);
}
img{
    width: 180px;
    height: 180px;
}
.imgD{
    display: inline;
}
.star{
    width: 30px;
    height: 30px;
}